
.dataTables_filter {
  float: right;
}

.pagination {
  float: right;
}

.modal-body-display {
  display: flex;
}

.custom-file-label:after {
  color: initial !important;
}

.dashboard:hover{
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5) !important;
}

@media (max-width: 992px) {
  .modal-body-display {
    display: block !important;
  }
}

@media (width: 992px) {
  .modal-body-display {
    display: flex !important;
  }
}
